jupyter-book
matplotlib
numpy
ghp-import
numpy
plotly==5.11.0
pandas
dateparser
pycountry
pygithub
requests
bs4
termcolor
markdown
python-dotenv
pyyaml
handcalcs
pycountry-convert
sphinxext-opengraph
pillow
